.text-color{
    color: #f51168  ;

}
.panda-bg {
    background-color: #fceae8;
}

.button-bg{
     background-color:#ff0a68 ;

}

.categories-bg-1 {
    background-color: rgb(255, 165, 0);
}

.categories-bg-2 {
    background-color: rgb(218, 112, 214);
}

.categories-bg-3 {
    background-color: rgb(0, 0, 255);
}