.text-color{
    color: #ff2076  ;

}
.panda-bg {
    background-color: #ffccc6;
}

.button-bg{
     background-color:#ff287a ;

}

.categories-bg-1 {
    background-color: rgb(255, 165, 0);
}

.categories-bg-2 {
    background-color: rgb(218, 112, 214);
}

.categories-bg-3 {
    background-color: rgb(0, 0, 255);
}